<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageRestore>
		<!-- Allow NuGet to download missing packages -->
		<add key="enabled" value="True" />
		<!-- Automatically check for missing packages during build in Visual Studio -->
		<add key="automatic" value="True" />
	</packageRestore>
   
    <packageSourceCredentials>
		<TS_Nuget>
		<add key="Username" value="artyom.karpets@softeq.com" />
		<add key="ClearTextPassword" value="%TOKEN%" />
		<add key="ValidAuthenticationTypes" value="basic" />
		</TS_Nuget>
  </packageSourceCredentials>
	
<packageSources>
		<add key="nuget" value="https://api.nuget.org/v3/index.json" />
		<add key="TS_Nuget" value="https://pkgs.dev.azure.com/ArtyomKarpets/Softeq.Education.TrialsSystem/_packaging/TS_Nuget/nuget/v3/index.json" />
</packageSources>
<activePackageSource>
        <add key="nuget" value="https://api.nuget.org/v3/index.json" />
		<add key="TS_Nuget" value="https://pkgs.dev.azure.com/ArtyomKarpets/Softeq.Education.TrialsSystem/_packaging/TS_Nuget/nuget/v3/index.json" />
</activePackageSource>
</configuration>