@using System.Diagnostics

@{

}

<div class="welcome-page">
    <h1>
        <img src="~/icon.jpg">
        Welcome Trial System
        <small class="text-muted"></small>
    </h1>

    <ul>
        <li>
            <a href="@Url.Action("Login","Account", new {returnUrl=Url.Action("index","Home")})">Login</a>
        </li>
        <li>
            <a href="@Url.Action("Register","Account", new {returnUrl=Url.Action("index","Home")})">Registration</a>
        </li>
    </ul>
</div>
